<h4>Post details</h4>
<p>
		<%= @row['content'] %>
		<br />
		<br />
		Added at <%= @row['created_date'] %>
</p>
<br />
<h4>Comments:</h4>
<p>
	<form action="/details/<%= @row['id'] %>" method="POST" role="form">
	<textarea class="form-control" rows="6" placeholder="Type comment text here!" name="content"></textarea>
	<br />
	<button type="submit" class="btn btn-primary">Add Comment</button>
</form>
</p>